:root {
    --about-color: #2D3B8F;
    --service-color: #f6ac4a;
    --news-color: #91c749;
    --calendar-color: #585858;
    --login-color: #990E62;
}

html {
    margin-left: 100px;
    margin-top: 50px;
}

body {
    width: 1100px;
}

#header {
}

#sidebar {
    /*padding-left: 20px; */
    margin-top: -30px;
}

#navigation {
    margin-top: 50px;
}

#content {
    margin-top: 50px;
    text-align: justify;
    padding-right: 30px;
}

.innerPadding {
    padding: 0px 10px 10px;
}

a {
    text-underline: dash;
}

.about {
    color: var(--about-color);
    margin-top: -8px;
}

.about > a {
    color: var(--about-color);
    text-decoration: underline;
}

.about > h3 > a {
    color: var(--about-color);
    text-decoration: underline;
}

#about {
    margin-bottom: 33px;
}

.service {
    color: var(--service-color);
    margin-top: -8px;
}

.service > a {
    color: var(--service-color);
    text-decoration: underline;
}

.service > h3 > a {
    color: var(--service-color);
    text-decoration: underline;
}

#service {
    margin-bottom: 33px;
}

.news {
    color: var(--news-color);
    margin-top: -8px;
}

.news > a {
    color: var(--news-color);
    text-decoration: underline;
}

.news > h3 > a {
    color: var(--news-color);
    text-decoration: underline;
}

#news {
    margin-bottom: 33px;
}

.calendar > h3 > a {
    color: var(--calendar-color);
    text-decoration: underline;
}

.calendar > a {
    color: var(--calendar-color);
    text-decoration: underline;
}

#calendar {
    margin-bottom: 33px;
}

.login > h3 > a {
    color: var(--login-color);
    text-decoration: underline;
}

.login {
    color: var(--login-color);
}

.contact > h3 > a {
    color: grey;
}

#contact {
    margin-bottom: 33px;
}

.impressum {
    margin-top: 100px;
}

.impressum > h3 > a {
    color: grey;
}

.sbItem {
    width: 200px;
    height: 170px;
    margin: 30px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.sbItem > h3 {
    color: #fff;
}

.sbItem > p, .sbItem > p > a {
    padding-top: 10px;
    font-size: 17px;
    color: #fff;
    font-size: 1.12em;
}

.teaserPicture {
    width: 200px;
    padding: 0px;
    margin: -5px 0px 0px -15px;
}

.sbItem > p > a {
    text-decoration: underline;
}

.sbnews {
    background-color: var(--news-color);
}

.sbService {
    background-color: var(--service-color);
}

.sbAbout {
    background-color: var(--about-color);
}

.sbCalendar {
    background-color: var(--calendar-color);
}

.sbLogin {
    background-color: var(--login-color);
}

.list-inline > li {
    padding-right: 60px;
}

.list-inline {
    margin-left: -30px;
    margin-top: 20px;
    font-size: 1.2em;
}

.footer{
    color: darkgray;
    text-decoration: underline;
}

.staffImg {
    width: 150px;
    border: 1px solid #000000;
}

.staffList {
    list-style-type: none;
    margin-left: -40px;
}

.staffList > li {
    padding-bottom: 40px;
}

.menuFamily {
    margin-top: 30px;
}

.menuFamily > li {
    color: darkgrey;
}

.menuFamily > li > a {
    color: dimgrey;
    text-decoration: underline;
}

#tblFood {
    width: 100%;
    border: 1px solid #000000;

}

.foodHead {
    font-weight: bold;
    vertical-align: top;
}

td {
    padding: 5px;
    font-size: 0.9em;
}